.props.className {
  color: red;
}

.map1 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-left: 2rem;
}

.map2 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.interactive-maps {
  align-content: space-between;
  margin-left: 2rem;
}