.heading {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.container {
  height: 500px;
  width: 500px;
  /* margin-top: px; */
  border: 1px solid #ccc;
}

.popup {
  color: darkgreen;
}

.marker{
  background-color: burlywood;
}

.leaflet-div-icon {
  text-align: center;
}
/* 
@import "~bootstrap/dist/css/bootstrap.min.css";

@import "leaflet/dist/leaflet.css";
@import "leaflet-defaulticon-compatibility/dist/leaflet.css";
@import "leaflet-defaulticon-compatibility";

.leaflet-popup-content-wrapper
.leaflet-popup-tip {
    background-color: darkolivegreen;
    color: #fff;
} */
